body {
  height: 100%;
  background-color: #f2f2f2;
  margin: 0px
}

.Feed {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.FeedPost {
  display: flex;
  flex-direction: row;
  padding: 0px 24px;
  border-bottom: 1px solid lightgray;
}

.FeedPost-imageSection {
  margin-right: 24px;
  min-width: 240px;
  height: 159px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.FeedPost-image {
  max-height: 159px;
  margin: auto;
  display: block;
}

.FeedPost-image:hover {
  cursor: pointer;
}

.FeedPost-textSection {
  padding: 12px;
  min-width: 0;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.FeedPost-title {
  cursor: pointer;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.FeedPost-title:hover {
  color: blue;
}

.FeedPost-photoInformation {
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width: 450px) {
  .FeedPost {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    padding: 12px;
    flex-shrink: 1;
  }

  .FeedPost-imageSection {
    border: none;
    margin: auto;
    width: 250px;
    padding: 5px
  }

  .FeedPost-title {
    text-align: center;
    height: 30px;
  }

  .FeedPost-photoInformation {
    flex-direction: column;
    text-align: center;
    justify-content: start;
  }
}
