body {
  background: url(/professional.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-position-x: right;
  background-position-y: top;
}

#root {
  background-color: rgba(255, 255, 255, 0.35);
  height: auto;
  min-height: 100%;
}

.WrapperThing {
  background-color: rgba(255, 255, 255, 0.35);
  height: 100%;
  min-height: 100%;
}

.AppThing {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  font-size: 36px;
  font-family: Sans-Serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TitleThing {
  cursor: pointer;
  min-width: 0;
}

.InformationThing {
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 720px) {
  .AppThing {
    font-size: 20px;
  }
}
