.Post {
  padding: 12px;
  height: 100%;
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  font-family: sans-serif;
}

.Post-topBar {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 16px;
  padding: 24px;
  border-radius: 12px;
}

.Post-topBar--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Post-topBar--bottom {
  display: flex;
  flex-direction: row;
}

.Post-title {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.Post-backButton {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px 20px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 20px;
  height: 20px;
}
.Post-authorBar {
  display: flex;
  background-color: white;
  margin-bottom: 16px;
  padding: 24px;
  border-radius: 12px;
}

.Post-author {
  margin-right: 16px;
}

.Post-image {
  height: 300px;
  background-color: blue;
  min-width: 480px;
  margin-right: 24px;
}

.Post-image img {
  height: 300px;
  display: block;
  margin: auto;
}

.Post-information {
  background-color: white;
  margin-bottom: 16px;
  padding: 24px;
  border-radius: 12px;
  display: flex;
}

.Post-description {
  font-size: 16px;
}

.Post-tags {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Post-tag {
  padding: 0px 6px;
}

@media screen and (max-width: 800px) {
  .Post-image {
    height: 200px;
    background-color: blue;
    min-width: 320px;
    margin-right: 24px;
  }
  .Post-image img {
    height: 200px;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .Post-information {
    flex-direction: column;
    text-align: center;
  }
  .Post-image {
    height: 200px;
    background-color: blue;
    min-width: auto;
    margin: auto;
    padding: 10px 20px;
  }
}
